<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <title>Professor - Home</title>

    <style layout:fragment="estilos">
        a { text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>
</head>
<body>

<div layout:fragment="conteudo">

    <h2 class="mb-4">Bem-vindo, <span sec:authentication="name"></span>!</h2>

    <p class="mb-4">
        <strong>Seus papéis:</strong>
        <span sec:authentication="principal.authorities"></span>
    </p>

    <div class="card shadow p-4 mb-4">
        <h3 class="mb-3">Painel do Professor</h3>

        <ul class="list-group">
            <li class="list-group-item">
                <a th:href="@{/professor/meus-processos}" class="fw-bold text-dark">
                    Consultar Meus Processos Atribuídos
                </a>
            </li>
            <li class="list-group-item">
                <a th:href="@{/professor/listar-sessoes}" class="fw-bold text-dark">
                    Consultar sessões do colegiado
                </a>
            </li>
        </ul>
    </div>

    </div>

</body>
</html>