<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <title>Home do Administrador</title>
</head>
<body>

<div layout:fragment="conteudo">

    <div class="card shadow p-4">
        <h2>Olá, <span th:text="${admin.nome}">Admin</span>!</h2>
        <p class="mt-2">Bem-vindo ao painel de administração. Aqui estão as ações que você pode realizar:</p>

        <ul class="list-group mt-3">
            <li class="list-group-item">
                <a href="/admin/colegiados" class="text-decoration-none fw-bold text-dark">
                    Gerenciar Colegiados
                </a>
            </li>
            <li class="list-group-item">
                <a href="/admin/alunos" class="text-decoration-none fw-bold text-dark">
                    Gerenciar Alunos
                </a>
            </li>
            <li class="list-group-item">
                <a href="/admin/professores" class="text-decoration-none fw-bold text-dark">
                    Gerenciar Professores
                </a>
            </li>
            <li class="list-group-item">
                <a href="/admin/assuntos" class="text-decoration-none fw-bold text-dark">
                    Gerenciar Assuntos de Processos
                </a>
            </li>
        </ul>

        </div>

</div>

</body>
</html>
