<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Aluno - Home</title>
</head>
<body>

<h3>Cadastrar Novo Processo</h3>

<form th:action="@{/aluno/cadastrar-processo}" method="post" th:object="${processo}" enctype="multipart/form-data">

    <label for="assunto">Assunto:</label><br>
    <select id="assunto" th:field="*{assunto}" required>
        <option value="">Selecione um assunto...</option>

        <option th:each="assunto : ${listaAssuntos}"
                th:value="${assunto.id}"
                th:text="${assunto.nome}"> </option>
    </select>
    <br><br>

    <label for="arquivoRequerimento">Requerimento (Anexo):</label><br>

    <input type="file" id="arquivoRequerimento" name="arquivoRequerimento" required>

    <br><br>
    <p th:if="${statusCadastroProcesso}" th:text="${statusCadastroProcesso}" style="color: green;"></p>
    <button type="submit">Cadastrar</button>
</form>

<h3>Listagem de processos:</h3>

</body>
</html>
